<link rel=stylesheet href="/Content/gallery.css">

<div ng-hide="serverError">
    <div id="welcome-gallery-content">
        <div id="gallery-welcome-photo" ng-show="ShowWelcomeImage" class="fade">
            <img class="ap-responsive-image" src="/Content/Photos/welcome.jpg">
            <h1 id="ap-gallery-welcome-text">Welcome</h1>
            <h3>Please wait, loading...</h3>
        </div>

    </div>

    <div ng-if="galleryDataReady" id="gallery-directive-content" ng-hide="ShowWelcomeImage">
        <ap-max-image gallery-data="galleryData()" gallery-name="galleryName" user-name="userName"></ap-max-image>
    </div>
</div>

<div ng-if="serverError">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger ap-gallery-error-message" role="alert">Gallery error: {{serverErrorMessage}}
                    <span aria-hidden="true" class="glyphicon glyphicon glyphicon-info-sign"></span></div>
            </div>
        </div>
    </div>
</div>