<link rel="stylesheet" href="/Content/gallery.css">
<link rel="stylesheet" href="/Content/ngProgress.css">

<div ng-hide="vm.serverError" ng-cloak>
    <div ng-show="vm.ShowWelcomeImage" class="fade ng-enter">
        <div id="ap-gallery-welcome">
            <div id="ap-welcome-elements" ng-show="vm.ShowWelcomeElements" class="fade ng-enter">
                <h1 id="ap-welcome-text">Welcome</h1>
                <div id="ap-loading-elements">
                    <!--<img id="ap-welcome-cycle-loader" src="/Content/Images/ajax-loader.gif" />-->
                    <h2 id="ap-welcome-loading-text">Loading hi-res photos, please wait...</h2>
                </div>
            </div>
        </div>
    </div>
    <div ng-hide="vm.ShowWelcomeImage">
        <div ng-if="vm.StarSlideShowtDirective" id="gallery-directive-content">
            <ap-max-image gallery-data="vm.galleryData()" gallery-name="vm.galleryName" user-name="vm.userName"></ap-max-image>
        </div>
    </div>
</div>

<div ng-if="vm.serverError">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger ap-gallery-error-message" role="alert">Gallery error: {{vm.serverErrorMessage}}
                    <span aria-hidden="true" class="glyphicon glyphicon glyphicon-info-sign"></span></div>
            </div>
        </div>
    </div>
</div>