<link rel=stylesheet href="../../../Content/albums.css">

<div ng-if="galleryDataReady">
    <ap-max-image gallery-data="galleryData()" gallery-name="galleryName" user-name="userName"></ap-max-image>
</div>
<div ng-if="serverError">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger ap-gallery-error-message" role="alert">Gallery error: {{serverErrorMessage}}
                    <span aria-hidden="true" class="glyphicon glyphicon glyphicon-info-sign"></span></div>
            </div>
        </div>
    </div>
</div>