<link href="../../../Scripts/jQuery.maximage/css/jquery.maximage.css" rel="stylesheet" />
<link href="../../../Scripts/jQuery.maximage/css/screen.css" rel="stylesheet" />
<link href="../../../Content/maximage-gallery.css" rel="stylesheet" />

<!--<div id="loading-image" ng-if="slideshowReady == false">
    <img ng-src="{{ galleryData.ImagesLocation}}/{{galleryData.OpeningPhoto}}" />
</div>-->

<div id="maximage-gallery-content">
    <a href="" class="maximage_arrow" id="arrow_left">
        <img class="arrow-image" id="arrow_left_img" src="../../../Content/Images/arrow_left.png" alt="Slide Left" />
    </a>
    <a href="" class="maximage_arrow" id="arrow_right">
        <img class="arrow-image" id="arrow_left_img" src="../../../Content/Images/arrow_right.png" alt="Slide Left" />
    </a>

    <img id="cycle-loader" src="../../../Content/Images/ajax-loader.gif" />

    <div id="maximage">
        <!--<div class="in-slide-content" style="display:none;">
            <p>Remember, you are not limited to image elements. You can display other HTML too.</p>
        </div>-->

        <div class="first-item">
            <img ng-src="{{ galleryData.ImagesLocation}}/{{galleryData.OpeningPhoto}}" />
            <div class="in-slide-content">
                <p>Welcome</p>
                <!--<p><a href="#" target="_blank" style="font-weight:bold">More info >></a></p>-->

            </div>
            <img ng-src="{{ galleryData.ImagesLocation}}/{{galleryData.OpeningPhoto}}" />
        </div>

        <!--<img ng-src="{{ galleryData.ImagesLocation}}/{{galleryData.OpeningPhoto}}" />-->
        <!--<div id="maximage-images1">-->
        <img ng-repeat="photo in nonOpeningPhotosArray" ng-src="{{galleryData.ImagesLocation}}/{{photo}}" alt="" />
        <!--</div>-->
    </div>
</div>