@{
    ViewBag.title = "About Me!"; @* TODO: set to user gallery name *@
}
@section scripts {
    <script src="~/Scripts/bootstrap.js"></script>
}

<div class="container-fluid ap-about-page">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron" id="about-jumbotron">
                <h2>
                    About & Contact
                </h2>

            </div>
            <div class="row">
                <div class="col-md-8" id="ap-about-me-content">
                    Hi! I’m Adir!<br> 
                    After Years of traveling to all sort of different places around the globe, I'm happy to bring you small glimpses of what I have seen and experienced. In the past 10 years photography has become a big part of my life, and now I have decided to share it with you to enjoy the website and the photos.                     Please write me if you have any questions or even if you would like to purchase a high quality print of any photo you can find in my website. 
                </div>
            </div>
            <br><br>
            <div class="row">
                <div >
                    <form class="well form-horizontal" action=" " method="post" id="contact_form">
                        <fieldset>
                            <!-- Form Name -->
                            <legend>Contact Me</legend>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label">First Name</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input  name="FirstName" placeholder="First Name" class="form-control"  type="text">
                                    </div>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label" >Last Name</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input name="LastName" placeholder="Last Name" class="form-control"  type="text">
                                    </div>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label">E-Mail</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                        <input name="EmailAddress" placeholder="E-Mail Address" class="form-control"  type="text">
                                    </div>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label">Phone #</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                        <input name="PhoneNumber" placeholder="(845)555-1212" class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-2 control-label">City</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                        <input name="City" placeholder="city" class="form-control"  type="text">
                                    </div>
                                </div>
                            </div>
                            <!-- Select Basic -->
                            <div class="form-group">
                                <label class="col-md-2 control-label">Country</label>
                                <div class="col-md-8 selectContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                        <select name="Country" class="form-control selectpicker" >
                                            <option value=" " >Please select your country</option>
                                            <option>Afghanistan</option>
                                            <option>Albania</option>
                                            <option>Algeria</option>
                                            <option>American Samoa</option>
                                            <option>Andorra</option>
                                            <option>Angola</option>
                                            <option>Anguilla</option>
                                            <option>Antarctica</option>
                                            <option>Antigua And Barbuda</option>
                                            <option>Argentina</option>
                                            <option>Armenia</option>
                                            <option>Aruba</option>
                                            <option>Australia</option>
                                            <option>Austria</option>
                                            <option>Azerbaijan</option>
                                            <option>Bahamas</option>
                                            <option>Bahrain</option>
                                            <option>Bangladesh</option>
                                            <option>Barbados</option>
                                            <option>Belarus</option>
                                            <option>Belgium</option>
                                            <option>Belize</option>
                                            <option>Benin</option>
                                            <option>Bermuda</option>
                                            <option>Bhutan</option>
                                            <option>Bolivia</option>
                                            <option>Bosnia And Herzegovina</option>
                                            <option>Botswana</option>
                                            <option>Bouvet Island</option>
                                            <option>Brazil</option>
                                            <option>British Indian Ocean Territory</option>
                                            <option>Brunei Darussalam</option>
                                            <option>Bulgaria</option>
                                            <option>Burkina Faso</option>
                                            <option>Burundi</option>
                                            <option>Cambodia</option>
                                            <option>Cameroon</option>
                                            <option>Canada</option>
                                            <option>Cape Verde</option>
                                            <option>Cayman Islands</option>
                                            <option>Central African Republic</option>
                                            <option>Chad</option>
                                            <option>Chile</option>
                                            <option>China</option>
                                            <option>Christmas Island</option>
                                            <option>Cocos (keeling) Islands</option>
                                            <option>Colombia</option>
                                            <option>Comoros</option>
                                            <option>Congo</option>
                                            <option>Congo, The Democratic Republic Of The</option>
                                            <option>Cook Islands</option>
                                            <option>Costa Rica</option>
                                            <option>Cote D'ivoire</option>
                                            <option>Croatia</option>
                                            <option>Cuba</option>
                                            <option>Cyprus</option>
                                            <option>Czech Republic</option>
                                            <option>Denmark</option>
                                            <option>Djibouti</option>
                                            <option>Dominica</option>
                                            <option>Dominican Republic</option>
                                            <option>East Timor</option>
                                            <option>Ecuador</option>
                                            <option>Egypt</option>
                                            <option>El Salvador</option>
                                            <option>Equatorial Guinea</option>
                                            <option>Eritrea</option>
                                            <option>Estonia</option>
                                            <option>Ethiopia</option>
                                            <option>Falkland Islands (malvinas)</option>
                                            <option>Faroe Islands</option>
                                            <option>Fiji</option>
                                            <option>Finland</option>
                                            <option>France</option>
                                            <option>French Guiana</option>
                                            <option>French Polynesia</option>
                                            <option>French Southern Territories</option>
                                            <option>Gabon</option>
                                            <option>Gambia</option>
                                            <option>Georgia</option>
                                            <option>Germany</option>
                                            <option>Ghana</option>
                                            <option>Gibraltar</option>
                                            <option>Greece</option>
                                            <option>Greenland</option>
                                            <option>Grenada</option>
                                            <option>Guadeloupe</option>
                                            <option>Guam</option>
                                            <option>Guatemala</option>
                                            <option>Guinea</option>
                                            <option>Guinea-bissau</option>
                                            <option>Guyana</option>
                                            <option>Haiti</option>
                                            <option>Heard Island And Mcdonald Islands</option>
                                            <option>Holy See (vatican City State)</option>
                                            <option>Honduras</option>
                                            <option>Hong Kong</option>
                                            <option>Hungary</option>
                                            <option>Iceland</option>
                                            <option>India</option>
                                            <option>Indonesia</option>
                                            <option>Iran, Islamic Republic Of</option>
                                            <option>Iraq</option>
                                            <option>Ireland</option>
                                            <option>Israel</option>
                                            <option>Italy</option>
                                            <option>Jamaica</option>
                                            <option>Japan</option>
                                            <option>Jordan</option>
                                            <option>Kazakstan</option>
                                            <option>Kenya</option>
                                            <option>Kiribati</option>
                                            <option>Korea, Democratic People's Republic Of</option>
                                            <option>Korea, Republic Of</option>
                                            <option>Kosovo</option>
                                            <option>Kuwait</option>
                                            <option>Kyrgyzstan</option>
                                            <option>Lao People's Democratic Republic</option>
                                            <option>Latvia</option>
                                            <option>Lebanon</option>
                                            <option>Lesotho</option>
                                            <option>Liberia</option>
                                            <option>Libyan Arab Jamahiriya</option>
                                            <option>Liechtenstein</option>
                                            <option>Lithuania</option>
                                            <option>Luxembourg</option>
                                            <option>Macau</option>
                                            <option>Macedonia, The Former Yugoslav Republic Of</option>
                                            <option>Madagascar</option>
                                            <option>Malawi</option>
                                            <option>Malaysia</option>
                                            <option>Maldives</option>
                                            <option>Mali</option>
                                            <option>Malta</option>
                                            <option>Marshall Islands</option>
                                            <option>Martinique</option>
                                            <option>Mauritania</option>
                                            <option>Mauritius</option>
                                            <option>Mayotte</option>
                                            <option>Mexico</option>
                                            <option>Micronesia, Federated States Of</option>
                                            <option>Moldova, Republic Of</option>
                                            <option>Monaco</option>
                                            <option>Mongolia</option>
                                            <option>Montserrat</option>
                                            <option>Montenegro</option>
                                            <option>Morocco</option>
                                            <option>Mozambique</option>
                                            <option>Myanmar</option>
                                            <option>Namibia</option>
                                            <option>Nauru</option>
                                            <option>Nepal</option>
                                            <option>Netherlands</option>
                                            <option>Netherlands Antilles</option>
                                            <option>New Caledonia</option>
                                            <option>New Zealand</option>
                                            <option>Nicaragua</option>
                                            <option>Niger</option>
                                            <option>Nigeria</option>
                                            <option>Niue</option>
                                            <option>Norfolk Island</option>
                                            <option>Northern Mariana Islands</option>
                                            <option>Norway</option>
                                            <option>Oman</option>
                                            <option>Pakistan</option>
                                            <option>Palau</option>
                                            <option>Panama</option>
                                            <option>Papua New Guinea</option>
                                            <option>Paraguay</option>
                                            <option>Peru</option>
                                            <option>Philippines</option>
                                            <option>Pitcairn</option>
                                            <option>Poland</option>
                                            <option>Portugal</option>
                                            <option>Puerto Rico</option>
                                            <option>Qatar</option>
                                            <option>Reunion</option>
                                            <option>Romania</option>
                                            <option>Russian Federation</option>
                                            <option>Rwanda</option>
                                            <option>Saint Helena</option>
                                            <option>Saint Kitts And Nevis</option>
                                            <option>Saint Lucia</option>
                                            <option>Saint Pierre And Miquelon</option>
                                            <option>Saint Vincent And The Grenadines</option>
                                            <option>Samoa</option>
                                            <option>San Marino</option>
                                            <option>Sao Tome And Principe</option>
                                            <option>Saudi Arabia</option>
                                            <option>Senegal</option>
                                            <option>Serbia</option>
                                            <option>Seychelles</option>
                                            <option>Sierra Leone</option>
                                            <option>Singapore</option>
                                            <option>Slovakia</option>
                                            <option>Slovenia</option>
                                            <option>Solomon Islands</option>
                                            <option>Somalia</option>
                                            <option>South Africa</option>
                                            <option>South Georgia And The South Sandwich Islands</option>
                                            <option>Spain</option>
                                            <option>Sri Lanka</option>
                                            <option>Sudan</option>
                                            <option>Suriname</option>
                                            <option>Svalbard And Jan Mayen</option>
                                            <option>Swaziland</option>
                                            <option>Sweden</option>
                                            <option>Switzerland</option>
                                            <option>Syrian Arab Republic</option>
                                            <option>Taiwan, Province Of China</option>
                                            <option>Tajikistan</option>
                                            <option>Tanzania, United Republic Of</option>
                                            <option>Thailand</option>
                                            <option>Togo</option>
                                            <option>Tokelau</option>
                                            <option>Tonga</option>
                                            <option>Trinidad And Tobago</option>
                                            <option>Tunisia</option>
                                            <option>Turkey</option>
                                            <option>Turkmenistan</option>
                                            <option>Turks And Caicos Islands</option>
                                            <option>Tuvalu</option>
                                            <option>Uganda</option>
                                            <option>Ukraine</option>
                                            <option>United Arab Emirates</option>
                                            <option>United Kingdom</option>
                                            <option>United States</option>
                                            <option>United States Minor Outlying Islands</option>
                                            <option>Uruguay</option>
                                            <option>Uzbekistan</option>
                                            <option>Vanuatu</option>
                                            <option>Venezuela</option>
                                            <option>Viet Nam</option>
                                            <option>Virgin Islands, British</option>
                                            <option>Virgin Islands, U.s.</option>
                                            <option>Wallis And Futuna</option>
                                            <option>Western Sahara</option>
                                            <option>Yemen</option>
                                            <option>Zambia</option>
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <!-- Text area -->
                            <div class="form-group">
                                <label class="col-md-2 control-label">Message</label>
                                <div class="col-md-8 inputGroupContainer">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                        <textarea class="form-control" name="Message" placeholder="Write me something"></textarea>
                                    </div>
                                </div>
                            </div>

                            <!-- Success / Fail message -->
                            @if (ViewBag.newContactForm != null && ViewBag.newContactForm == false)
                            {
                                if (ViewBag.emailWasSentSuccessfuly != null)
                                {
                                    if (ViewBag.emailWasSentSuccessfuly == true)
                                    {
                                        <div class="alert alert-success" role="alert">Success <i class="glyphicon glyphicon-thumbs-up"></i> Form submitted successfuly</div>
                                    }
                                    else
                                    {
                                        <div class="alert alert-warning" role="alert">Failed! <i class="glyphicon glyphicon-thumbs-down"></i> Form submition failed</div>
                                    }
                                }
                            }

                            <!-- Button -->
                            <div class="form-group">
                                <label class="col-md-4 control-label"></label>
                                <div class="col-md-2"></div>
                                    <div class="col-md-4">
                                        <button type="submit" class="btn btn-block btn-default" >Send <span class="glyphicon glyphicon-send"></span></button>
                                    </div>
                                </div>
                        </fieldset>
                    </form>
                </div>
                <!--<div class="col-md-4">
                </div>-->
            </div>
        </div>
    </div>
</div>