@{
    ViewBag.title = "Gallery"; @* TODO: set to user gallery name *@
}

@section scripts {
    <script src="~/Scripts/jQuery.maximage/js/jquery.cycle.all.js"></script>
    <script src="~/Scripts/jQuery.maximage/js/jquery.maximage.js"></script>
    <script src="~/App/Gallery/GalleryApp.js"></script>
    <script src="~/App/Gallery/ViewModels/GalleryViewModel.js"></script>
    <script src="~/App/Gallery/ViewModels/AlbumsViewModel.js"></script>
    <script src="~/App/Gallery/ViewModels/MaxImageDirectiveViewModel.js"></script>
}

@section jsCode {
    angular.bootstrap(document.getElementById("gallery"), ['gallery']);
}

<h3>
    <a href="/gallery">gallery</a>
    <a href="/gallery/albums">Albums</a>
    <a href="/gallery/show/main">gallery-main</a>
</h3>

<div data-ng-app="gallery" id="gallery">
    <div data-ng-view=""></div>
</div>
