
@section scripts {
    @Scripts.Render("~/bundles/maximage")
    @Scripts.Render("~/bundles/photoswipe")
    @Scripts.Render("~/bundles/gallery")
    @Styles.Render("~/Content/gallery")
}

@section jsCode {
    angular.bootstrap(document.getElementById("gallery"), ['gallery']);
}

@{
    ViewBag.title = "Gallery"; @* TODO: set to user gallery name *@
}

<div data-ng-app="gallery" id="gallery">
    <div data-ng-view=""></div>
</div>
