@model adir.photography.Models.HomeGalleryModel

@{
    ViewBag.Title = "adir.photography";
}

<link rel="stylesheet" href="~/Content/main_gallery.css" type="text/css" media="screen" />
<link rel="stylesheet" href="~/Scripts/jQuery.maximage/css/jquery.maximage.css?v=1.2" type="text/css" media="screen" />
<link rel="stylesheet" href="~/Scripts/jQuery.maximage/css/screen.css?v=1.2" type="text/css" media="screen" />

<a href="" id="arrow_left"><img src="~/Content/images//arrow_left.png" alt="Slide Left" /></a>
@*<a href="" id="arrow_right"><img src="~/Content/images/arrow_right.png" alt="Slide Right" /></a>*@

<img id="cycle-loader" src="~/Content/images/ajax-loader.gif" />

<div id="maximage">


    <img src="~/Content/images/@Model.OpeningImage" alt="" data-href="http://www.google.com/" />

    @foreach (var image in Model.MainGalleryImages)
    {
        <img src="~/Content/images/@image" alt="" />
    }

</div>
<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
<script src="~/Scripts/jQuery.cycle/jquery.cycle.all.js" type="text/javascript" charset="utf-8"></script>
<script src="~/Scripts/jQuery.maximage/js/jquery.maximage.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript" charset="utf-8">
    $(function () {
        $('#maximage').maximage({
            cycleOptions: {
                fx: 'fade',
                speed: 1000,
                timeout: @(WebSiteConfig.Instance().Config.TimeOut),  // time to wait between changes
                prev: '#arrow_left',
                next: '#maximage',
                pause: 1,  // pause when mouse hover on image 
                
            },
            onFirstImageLoaded: function () {
                jQuery('#cycle-loader').hide();
                jQuery('#maximage').fadeIn('fast');
            }
        });

        // Helper function to Fill and Center the HTML5 Video
        jQuery('video,object').maximage('maxcover');

        // To show it is dynamic html text
        jQuery('.in-slide-content').delay(1200).fadeIn();
    });
</script>


s