@model adir.photography.Models.HomeGalleryModel

@Styles.Render("~/Content/maximage");


<a href="" id="arrow_left"><img id="arrow_left_img" src="~/Content/images/Arrows Left circular.png" alt="Slide Left" /></a>
<a href="" id="arrow_right"><img id="arrow_right_img" src="~/Content/images/Arrows right circular.png" alt="Slide Right" /></a>
<img id="cycle-loader" src="~/Content/images/ajax-loader.gif" />

<div id="maximage">
    <img src="~/Content/images/@Model.OpeningImage"/>
    @foreach (var image in Model.MainGalleryImages)
    {
        <img src="~/Content/images/@image" alt="" />
    }
</div>

@Scripts.Render("~/bundels/maximage");

<script type="text/javascript" charset="utf-8">
    $(function () {
        $('#maximage').maximage({
            cycleOptions: {
                fx: 'fade',
                speed: 1000,
                timeout: @(WebSiteConfig.Instance().Config.TimeOut),  // time to wait between changes
                prev: '#arrow_left',
                next: '#arrow_right',
                pause: 1,  // pause when mouse hover on image

            },
            onFirstImageLoaded: function () {
                jQuery('#cycle-loader').hide();
                jQuery('#maximage').fadeIn('fast');
            }
        });

        // Helper function to Fill and Center the HTML5 Video
        jQuery('video,object').maximage('maxcover');

        // To show it is dynamic html text
        jQuery('.in-slide-content').delay(1200).fadeIn();
    });
</script>