.ap-floating-menu {
    font-family: sans-serif;
    padding-right: 2%;
    z-index: 1000;
    position: fixed;
    top: 20px;
    right: 0px;
    font-size: 25px;
    text-align: right;
}

.ap-floating-menu a {
    color: white; 
    transition: font 1.3s ease;
    -webkit-transition: all 1.3s ease;
    -moz-transition: all 1.3s ease;
    -o-transition: all 1.3s ease;
    -ms-transition: all 1.3s ease;
    
}
