body {
    /*font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;*/
    color: #232323;
    background-color: black;
    overflow: hidden;
}

.fade.ng-enter {
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: linear;
    transition-delay: 500ms;
    opacity: 1;
}

.fade.ng-hide {
    opacity: 0;
    transition-duration: 500ms;
    transition-delay: 10ms;
}

#ap-gallery-welcome-landscape {
    width: 100%;
    height: 100%;
    background: url(/Content/Photos/welcome.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
}

#ap-gallery-welcome-portrait {
    width: 100%;
    height: 100%;
    background: url(/Content/Photos/welcome-p.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
}

#ap-welcome-elements {
    position: absolute;
    top: 20%;
    left: 0%;
    z-index: 1000;
}

/*#ap-loading-elements {
    margin-top: 20px;
    position: relative;
    display: flex;
    left: 70%;
}*/

#ap-welcome-text {
    text-transform: uppercase;
    color: white;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 115px;
    position: relative;
    top: 20%;
    left: 10%;
    z-index: 1000;
    opacity: 0.7;
}

#ap-welcome-loading-text {
    color: white;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 220%;
    position: relative;
    opacity: 0.7;
    left: 50%;

}

@media (max-width: 900px) {
    #ap-welcome-text {
        font-size: 100px;
    }
    #ap-welcome-loading-text {
        font-size: 200%;
    }
}

@media (max-width: 700px) {
    #ap-welcome-text {
        font-size: 80px;
    }
    #ap-welcome-loading-text {
        font-size: 150%;
    }
}

@media (max-width: 550px) {
    #ap-welcome-text {
        font-size: 50px;
    }
    #ap-welcome-loading-text {
        font-size: 12px;
    }
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add {
    -webkit-transition: 400ms ease-in-out all;
    -moz-transition: 400ms ease-in-out all;
    -o-transition: 400ms ease-in-out all;
    transition: 400ms ease-in-out all;
    display: block !important;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
    opacity: 0;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
}