
/* I wanted to center my loader */
#cycle-loader {
	height:32px;
	left:50%;
	margin:-8px 0 0 -8px;
	position:absolute;
	top:50%;
	width:32px;
	z-index:999;
}

/*I want to avoid jumpiness as the JS loads, so I initially hide my cycle*/
#maximage {
	display:none;/* Only use this if you fade it in again after the images load */
	position:fixed !important;
}

/*Set my gradient above all images*/
#gradient {
	left:0;
	height:100%;
	position:absolute;
	top:0;
	width:100%;
	z-index:999;
}

/*Set my logo in bottom left*/
#logo {
	bottom:50px !important;
	font-size: 50px !important;
	left:30px;
	width:34%;
}

#logo img {
	width:100%;
}

.maximage_arrow {
	height:10%;
	position:absolute;
	right:30px;
	width:36px;
	z-index:1000;
	bottom: 3%;
	opacity: 0.1;
}

#maximage-gallery-content .maximage_arrow:hover {
	opacity: 1;
}

#maximage-gallery-content:hover .maximage_arrow {
	opacity: 1;
}

#arrow_left {
	left: 3%;
}

#arrow_right {
	left: 7%;
}

.arrow-image {
	width: 100%;
	height: 100%;
}

@media (max-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */
	#arrow_right {
		left: 18%;
	}

	.arrow-image {
		width: 50%;
		height: 50%;
	}
}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */
	#arrow_right {
		left: 15%;
	}

	.arrow-image {
		width: 60%;
		height: 60%;
	}

}

@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
	#arrow_right {
		left: 13%;
	}

	.arrow-image {
		width: 70%;
		height: 70%;
	}
}

@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
	#arrow_right {
		left: 11%;
	}

	.arrow-image {
		width: 80%;
		height: 80%;
	}
}

@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
	#arrow_right {
		left: 9%;
	}

	.arrow-image {
		width: 90%;
		height: 90%;
	}
}

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
	#arrow_right {
		left: 7%;
	}
}

@media (min-width:1281px) { /* hi-res laptops and desktops */
	// currently nothing ...
}


a {color:#666;text-decoration:none;}
a:hover {text-decoration:underline;}

.in-slide-content {
	color:#333;
	float:right;
	font-family:'Helvetica Neue', helvetica;
	font-size:60px;
	font-weight:bold;
	right:0;
	margin:40px;
	padding:20px;
	position:absolute;
	top:0;
	width:700px;
	z-index:9999; /* Show above .gradient */
	text-shadow: 0 1px 0 #fff;
	-webkit-font-smoothing:antialiased;
}
.light-text {color:#ddd;text-shadow: 0 1px 0 #666;}
.smaller-text {font-size:30px;}
.youtube-video, video {
	left:0;
	position:absolute;
	top:0;
}
