body {
    /*font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;*/
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.ap-gallery-error-message {
    text-align: center;
    margin-top: 20px;
    font-size: medium;
}

#contact_success_message {
    display: none;
}

#ap-about-me-content {
    font-size: 20px;
    width: 100%;
}

div>.ap-about-page {
    width: 80%;
}

@media (max-width: 550px) {
    div>.ap-about-page {
        width: 100%;
    }
    #ap-about-me-content {
        font-size: 15px;
        width: 100%;
    }
}

#about-jumbotron {
    background: url(images/about-bg.jpg) center center no-repeat;
    background-size: contain;
    width: 100%; // or a % in responsive layout
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

.ngdialog.ngdialog-theme-default.custom-width .ngdialog-content {
    width: 75%;
    height: 42%;
}

#login-dialog-text {
    margin-bottom: 15px;
    text-align: center;
}

#login-dialog-text>legend {
    font-size: 20px !important;
    font-weight: bold;
    margin-bottom: 15px;
    border-bottom: 0px !important;
}

#login-dialog-text>span {
    font-size: 15px !important;
    font-weight: bold;
    margin-bottom: 15px;
}

.login-dialog-thankyou-text {
    text-align: center;
    text-justify: distribute;
    font-size: 15px
}

.ap-responsive-image {
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    margin: 2px auto;
}

.ion-ios-home::before,
.ion-images::before,
.ion-android-mail::before,
.ion-person::before {
    padding-top: 12px;
    font-size: 32px;
}

.ion-aperture::before,
.ion-ios-camera::before {
    padding-top: 4px;
    font-size: 48px;
}