<link rel="stylesheet" href="../../../Content/ngDialog-theme-default.css">
<link rel="stylesheet" href="../../../Content/ngDialog.css">

<script type="text/ng-template" id="loginDialogPopupId">
    <div class="ngdialog-message">

        <form id="LoginForm">
            <fieldset>
                <!-- Form Name -->
                <div class="login-dialog-text">
                    <legend>Register for updates</legend>
                    <span>Register to receive news or updates about new photos</span>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="email" name="user" placeholder="email address" class="form-control" ng-model="loginFormInput.userEmail" required="true">
                        </div>
                    </div>
                </div>
                <!-- Text input-->
                <!-- <div class="form-group">
                    <div class="inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            <input type="password" name="password" placeholder="Password" class="form-control" ng-model="loginFormInput.password">
                        </div>
                    </div>
                </div> -->
            </fieldset>
        </form>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click=closeThisDialog( "Cancel")>Cancel</button>
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click=confirm( "OK")>OK</button>
        </div>
    </div>
</script>